<h1>New Booking</h1>

<% unless @booking.errors.empty? %>
  <div class="errors">
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>  
  </div>
<% end %>

<%= turbo_frame_tag "new_booking" do %>
  <%= render 'form', booking: @booking %>
<% end %>