/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 * {
  margin: 0;
  padding: 0;
 }

 :root {
  --main: #3b82f6;
  --white: white;
  --secondary: #cbd5e1;
  --background: #9ca3af;
  --error: #f87171;
  --sucess: #10b981;
  --margin: 20px;
  --padding: 20px;
  --border-radius: 25px;
  --button-padding-top: 10px;
  --button-padding-right: 25px;
 }

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

/* grid */

.grid {
  display: grid;
  grid-template-rows: 70px 4fr 50px;
  min-height: 100vh;
}

/* header */

header {
  grid-row: 1 / 2;
  display: flex;
  background-color: var(--main);
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: var(--padding);
}

header .home {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: var(--white);
  text-decoration: none;
}

header img {
  filter: invert(100%);
  height: 3rem;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* errors */

.errors {
  padding: var(--padding);
  margin: var(--margin);
  background-color: var(--error);
  border-radius: var(--border-radius);
}

/* form */

.form{
  display: flex;
  padding: var(--padding);
  margin: var(--margin);
  background-color: var(--secondary);
  border-radius: var(--border-radius);
}

.form .values {
  margin: 0 10px;
}

.form .field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.form input[type="submit"] {
  border: none;
  padding: var(--button-padding-top) var(--button-padding-right);
  border-radius: var(--border-radius);
  background-color: var(--main);
  color: var(--white);
}

.form select {
  border: none;
  padding: var(--button-padding-top) var(--button-padding-right);
  border-radius: var(--border-radius);
  background-color: var(--main);
  color: var(--white);
}

.form label {
  margin-bottom: 5px;
}

.form .actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.form ul {
  list-style: none;
}

.form .book-actions {
  justify-content: center;
}

/* card */

.card {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  margin: var(--margin);
  background-color: var(--secondary);
  border-radius: var(--border-radius);
}

.card .field {
  margin: 5px;
}

/* flight */

.flight-select-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.infos .labels, .values {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infos .label, values {
  padding: 5px;
} 

/* booking */

.passengers ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.actions .submit {
  cursor: pointer;
  margin: 0 10px;
}

.actions .add {
  background-color: var(--sucess);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  width: 80px;
  align-items: center;
}

.add img {
  height: 2rem;
}

.passenger .remove {
  background-color: var(--error);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  width: 80px;
  align-self: center;
}

.passenger .remove:hover, .add:hover {
  cursor: pointer;
}

.passenger img {
  height: 2rem;
}